@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --bg-header: #f6f4fa;
  --bg-gradient-bottom: #f2eef9;
  --bg-inline-code: #e9dcf7;
  --accent-color: #aa186f;
}

html.dark {
  --pre-bg-image: linear-gradient(rgb(0 0 0/50%) 0 0);
  --bg-header: hsl(256, 27%, 19%);
  --bg-gradient-bottom: hsl(251, 29%, 11%);
  --bg-inline-code: #ffffff16;
  --accent-color: #ff7e33;
}

body {
  overscroll-behavior-y: none;
  line-height: 1.75em;
}

@layer base {
  h1 {
    @apply text-2xl font-bold;
  }
  h2 {
    @apply text-xl font-semibold;
  }
  h3 {
    @apply text-lg;
  }
  ul {
    @apply list-disc list-inside;
  }
}

section.post ul {
  padding-left: 1.5rem;
}

section.post a {
  text-decoration: underline;
  color: var(--accent-color);
}

section.post pre {
  background-color: inherit !important;
  padding: 0 1rem 1rem 1rem;
  background-image: var(--pre-bg-image);
}

section.post pre > code {
  background-color: transparent;
}

section.post code {
  background-color: var(--bg-inline-code);
  padding: 0.25rem;
  font-size: 0.97em;
  border-radius: 2px;
}

section.post img[alt='scheme'] {
  background-color: #e7dbf6;
  margin: 0.25rem;
  border-radius: 0.25rem;
}

section.post h2 {
  font-weight: 600;
  margin: 1.5rem 0 0.75rem;
}

section.post h3 {
  font-weight: 500;
  margin: 1rem 0 0;
}
