@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html.dark {
  --pre-bg-image: linear-gradient(rgb(0 0 0/50%) 0 0);
}

body {
  overscroll-behavior-y: none;
}

@layer base {
  h1 {
    @apply text-2xl font-bold;
  }
  h2 {
    @apply text-xl font-semibold;
  }
  h3 {
    @apply text-lg;
  }
}

pre {
  padding: 0.5rem;
  border-radius: 0.25rem;
  background-image: var(--pre-bg-image);
}
