@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --bg-header: #f6f4fa;
  --bg-gradient-bottom: #f2eef9;
}

html.dark {
  --pre-bg-image: linear-gradient(rgb(0 0 0/50%) 0 0);
  --bg-header: hsl(256, 27%, 19%);
  --bg-gradient-bottom: hsl(251, 29%, 11%);
}

body {
  overscroll-behavior-y: none;
}

@layer base {
  h1 {
    @apply text-2xl font-bold;
  }
  h2 {
    @apply text-xl font-semibold;
  }
  h3 {
    @apply text-lg;
  }
}

section.post ul {
  list-style: disc;
  padding-left: 1.5rem;
}

section.post a {
  text-decoration: underline;
}

section.post pre {
  background-color: inherit !important;
  padding: 0 1rem 1rem 1rem;
  background-image: var(--pre-bg-image);
  border: 1px solid #2a243b;
}

section.post pre > code {
  background-color: transparent;
}

section.post code {
  background-color: #e9dcf7;
  padding: 0.25rem;
  font-size: 0.97em;
  border-radius: 2px;
}

section.post img[alt='scheme'] {
  background-color: #e7dbf6;
  margin: 0.25rem;
  border-radius: 0.25rem;
}

section.post h2 {
  font-weight: bold;
  margin: 1rem 0;
}
