---
import { LOCALES } from '@common/constants'

const locales = Object.keys(LOCALES)

const { lang } = Astro.params;

const { pathname } = Astro.url;

---

{lang && <ul class="flex gap-1 list-none">
  {locales.map((locale) => (
    <li>
      <a href={pathname.replace(lang, locale)} class={(locale === lang ? 'line-through' : '')}>
        {locale}
      </a>
    </li>
  ))}
</ul>}
