---
const { variant } = Astro.props as { variant: 'info' | 'warning' | 'tip' | 'error' }

const colors = {
  tip: {bg: 'bg-[#deecf3]', text: 'text-[#162F3C]', border: 'border-l-cyan-800'},
  info: { bg: 'bg-[#e8dbf6]', text: 'text-[#251042]', border: 'border-l-purple-800' },
  warning: { bg: 'bg-[#f4e3bc]', text: 'text-[#664500]', border: 'border-l-amber-500' },
  error: {bg: 'bg-[#EEAAB2]', text: 'text-[#22070A]', border: 'border-l-red-700' }
}
---

<blockquote
  class={`flex gap-2 ${colors[variant].bg} ${colors[variant].text} ${colors[variant].border} my-4 p-3 rounded-r font-medium border-l-4`}
>
  <div class="pt-1">
    <img src={`/icons/${variant}.svg`} class="w-16" />
  </div>
  <slot />
</blockquote>
