<div class="container flex overflow-x-scroll gap-4 bg-red-400">
  <div class="flex-[0_0_100%] w-[500px] h-[500px] bg-red-200"></div>
  <div class="flex-[0_0_100%] w-[500px] h-[500px] bg-yellow-200"></div>
  <div class="flex-[0_0_100%] w-[500px] h-[500px] bg-cyan-200"></div>
</div>

<script>
const container = document.querySelector('.container') as HTMLDivElement

container.addEventListener('wheel', (event) => {
  const isReachedLeftEdge = container.scrollLeft === 0

  const isReachedRightEdge =
      container.scrollWidth - container.getBoundingClientRect().width === container.scrollLeft

  if (!isReachedLeftEdge && !isReachedRightEdge) {
    event.preventDefault()
    event.stopPropagation()
  }

  container.scrollLeft += event.deltaY
  container.scrollLeft += event.deltaX
})
</script>
