---
const { tag } = Astro.props
const { lang } = Astro.params
---

<a href={`/${lang}/tags/${tag}`} class="p-1 text-sm border-2 dark:border shadow border-black dark:border-violet-300 rounded font-semibold flex items-center gap-1.5">
  <img src={`/images/${tag}.svg`} />
  <span>{tag}</span>
</a>
