---
import Navigation from '@components/Navigation.astro'
import { SEO } from 'astro-seo'
import '../styles/main.css'

export type Props = { title: string, description: string }

const { title, description } = Astro.props
const { lang } = Astro.params
---

<!DOCTYPE html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <SEO 
      title={`Botqa | ${title} | Blog posts about programming, lifestyle and bullsh...`}
      description={description}
      openGraph={{
        basic: {
          title,
          type: "article",
          image:"../../public/images/localhost-https/hero.png"
        }
      }}
    />
  </head>
  <body class="
    relative flex flex-col p-2 pt-0 min-h-screen dark:text-white
    before:fixed before:-z-50 before:top-0 before:bottom-0 before:right-0 before:left-0 before:bg-grainy-indigo-900
  ">
    <Navigation />
    <main class="flex-1 p-2 md:w-1/2 mx-auto flex flex-col gap-3">
      <slot />
    </main>
    <footer class="text-black/40 dark:text-white/40 text-center">
      © 2014-2023 Olzhas Kurikov and Dinmuhamed Sailaubek. All Right Reserved.
    </footer>
  </body>
</html>

<script is:inline>
  const theme = (() => {
    if (typeof localStorage != 'undefined' && localStorage.getItem('theme'))
      return localStorage.getItem('theme')

    return 'light'
  })()

  if (theme == 'light') document.documentElement.classList.remove('dark')
  else document.documentElement.classList.add('dark')

  window.localStorage.setItem('theme', theme)
</script>

<style is:global>
  :root {
    --accent: 124, 58, 237;
    --accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
  }
  html {
    font-family: 'Montserrat', sans-serif;
    background-color: #f6f6f1;
  }
</style>
