---
import Navigation from '@components/Navigation.astro'
import '../styles/main.css';

export type Props = { title: string }

const { title } = Astro.props;
const { lang } = Astro.params;
---

<!DOCTYPE html>
<html lang={lang}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />

		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preload" href="/fonts/WixMadefor.woff" as="font" type="font/woff" crossorigin />
		<link
      rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/styles/atom-one-dark.min.css"
    />
    <script is:inline src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/highlight.min.js"/>
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-[#f6f6f1] dark:bg-grainy-indigo-900 relative flex flex-col p-2 min-h-screen">
		<Navigation />
		<main class="flex-1 p-2 w-1/2 mx-auto flex flex-col gap-3 dark:text-white">
			<slot />
		</main>
		<footer class="text-black/40 dark:text-white/40 text-center">
			© 2014-2023 Olzhas Kurikov and Dinmuhamed Sailaubek. All Right Reserved.
		</footer>
	</body>
</html>

<script is:inline>
	// hljs.highlightAll();

	const theme = (() => {
		if (typeof localStorage != 'undefined' && localStorage.getItem('theme'))
			return localStorage.getItem('theme')

		if (window.matchMedia('(prefers-color-scheme)').matches)
			return 'dark'

		return 'light'
	})()

	if (theme == 'light') document.documentElement.classList.remove('dark')
	else document.documentElement.classList.add('dark')

	window.localStorage.setItem('theme', theme)
</script>

<style is:global>
	:root {
		--accent: 124, 58, 237;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
	}
	html {
		font-family: 'Wix Madefor Text', system-ui, sans-serif;
		background-color: #F6F6F1;
	}
</style>
