---
import Layout from './Layout.astro';

const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title}>
  <p>Published on: {new Date(frontmatter.date).toLocaleDateString('en-GB')}</p>
  <p>Written by {frontmatter.author}</p>
  <slot />
  <ul class="flex gap-1.5">
    {frontmatter.tags.map((tag: string) => (
      <li class="lowercase text-sm">
        <a href="/#" class="p-1.5 bg-rose-900 rounded-sm">{tag}</a>
      </li>
    ))}
  </ul>
</Layout>

<script is:inline>
	const codeBlocks = document.querySelectorAll("pre")
  
  codeBlocks.forEach((block) => {
    const wrapper = document.createElement('div')
    wrapper.className = 'relative group'
    
    const copyButton = document.createElement('button')
    copyButton.innerText = 'copy'
    copyButton.className = 'absolute top-1 right-2 text-transparent group-hover:text-white duration-300 transition ease-in-out'
    block.setAttribute("tabindex", "0");
    block.appendChild(copyButton)
    
    block.parentNode.insertBefore(wrapper, block)
    wrapper.appendChild(block, copyButton)

    copyButton.addEventListener("click", async () => {
      await copyCode(block, copyButton);
    });
  })

  async function copyCode(block, button) {
    let code = block.querySelector("code");
    let text = code.innerText;

    await navigator.clipboard.writeText(text);

    button.innerText = '✅ copied';

    setTimeout(() => {
      button.innerText = 'copy';
    }, 1000)
  }
</script>
